$gray: #ededed;
$primary: #025e3e;
$danger: #d9534f;
* {
  font-family: Arial;
}
.bg-gray {
  background-color: $gray;
}

.container {
  padding: 10px 30px;
  padding-bottom: 80px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

$grid__cols: 12;
@for $i from 1 through $grid__cols {
  .col-#{$i} {
    flex-basis: (100 / ($grid__cols / $i)) * 1%;
  }
}

$grid__cols: 12;
@for $i from 1 through $grid__cols {
  .gap-#{$i} {
    gap: $i + px;
  }
}

$grid__cols: 12;
@for $i from 0 through $grid__cols {
  .mt-#{$i} {
    margin-top: $i + em;
  }
}

.title {
  padding: 0;
  font-size: 13px;
  margin: 0;
}

.card {
  border-radius: 8px;
  border: 1px solid $gray;
  padding: 17px;
  margin-top: 10px;
}

.form {
  margin-top: 14px;
  label {
    font-size: 12px;
    margin-left: 4px;
  }
  input,
  select {
    // display: block;
    width: 100%;
    margin-top: 3px;
    padding: 8px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
  }

  input[type="radio"] {
    display: inline-block;
    font-size: 12px;
  }
}
.form-radio {
  margin-top: 14px;
  width: 100%;
  label {
    font-size: 12px;
    margin-left: 4px;
    display: block;
    &.radio {
      width: 50%;
      display: inline;
    }
  }
  input[type="radio"] {
    font-size: 12px;
    margin-top: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 0px;
    background-clip: content-box;
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 50%;
    &:checked {
      background-color: $primary;
    }
  }
}

.btn {
  border: none;
  color: #eaeaea;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  background-color: $primary;
  border-radius: 7px;
  &:hover {
    background-color: #024a31;
  }
  &.btn-delete {
    background-color: $danger;
    &:hover {
      background-color: #a12420;
    }
  }
}

table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;

  border-spacing: 10px;
  thead,
  tbody {
    text-align: left;
    font-size: 12px;
    color: gray;
    td {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;
      &:first-child {
        padding-left: 15px;
        padding-right: 0;
      }
    }
  }

  tbody {
    color: black;
    tr {
      td {
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        &:first-child {
          border-left: 1px solid $gray;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &:last-child {
          border-right: 1px solid $gray;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      &.checked {
        td {
          border-top: 2px solid gray;
          border-bottom: 2px solid gray;
          &:first-child {
            border-left: 2px solid gray;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          &:last-child {
            border-right: 2px solid gray;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }

  &.separate {
    border-collapse: separate;
    border-spacing: 0 15px;
  }
}

.popup {
  $width: 350;
  width: $width + px;
  padding: 5px 20px;
  border: 1px solid $gray;
  border-radius: 7px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: -($width/2) + px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  & p {
    font-size: 13px;
  }
  & .btn {
    padding: 6px 15px;
  }
  &.show {
    display: flex;
  }
  &.hide {
    display: none;
  }
}

.bar-chart {
  & .legend {
    background-color: $gray;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 8px;
    & .content {
      margin: 0;
    }
    & .label {
      color: rgb(169, 169, 169);
      font-size: 12px;
      margin: 0;
      margin-top: 3px;
    }

    & .count {
      font-size: 19px;
      font-weight: bold;
      margin: 0;
      margin-top: 10px;
    }
  }
}
